<li id="post-<%= post._id %>">
    <p>
         <!-- if user is signed in and the user who signed in is same as user who created the post -->
         <% if (locals.user && locals.user.id == post.user.id){ %>
           <small>
                <!-- post.id or post._id  both works the same -->
                <a class="delete-post-button" href="/posts/destroy/<%=post.id%>">X</a> 
           </small>
           <% } %>
          <%= post.content %>
    <br>
    <small>
       Posted by <%= post.user.name %>
    </small>
    </p>
    <div class="post-comments">
      <% if (locals.user) {%>
           <form id="post-<%=post._id%>-comments-form" action="/comments/create" method="POST">
                <input type="text" name="content" placeholder="Type here to add Comment..." required>   
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="Add Comment"> 
           
           </form>
           
           <div class="post-comments-list">
                <ul id="post-comments-<%= post._id %>">
                     <% for (comment of post.comments){ %> 
                      <%- include('_comment') %>
                     <%}%>
                </ul>
           </div>
       <% } %>
    </div>
</li>
